<section class="section">
  <div class="container">
    <div id="jumbotron">
      <p class="subtitle">
        Submit a <strong>Quizlet Deck URL</strong>, and then save cards to your own deck.
      </p>
      <form id='quizlet-scrape-form'>
        <div class="field">
          <div class="control">
            <input id="queryURL" name="queryURL" class="input" type="text" placeholder="Normal input">
          </div>
        </div>
        <div class="control">
          <button id="submitBtn" type='submit' class="button is-primary">Submit</button> <button id="saveAllBtn" class="button is-primary">Save All To Deck</button>
        </div>
      </form>
    </div>


    {{#each results}}
    <div class="card">
      <div class="container">

        <div class="columns">
          <div class="column is-one-third">
            {{!-- <p><span class="label">Id:{{this.id}}</span> </p> --}}
            <p><span class="label">Front Side:</span> {{this.frontSide}}</p>
          </div>
          <div class="column">
            <p><span class="label">Back Side:</span> {{this.backSide}}</p>
            <br>
            <button data-id="{{this.id}}" class="button is-primary saveCard is-pulled-right">Save</button>
          </div>
        </div> 

      </div>
    </div>
    {{/each}}
  </div>

</section>